* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #000;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding-top: 70px;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.license {
  display: none;
}

header {
  width: 100%;
  height: 130px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__logo img {
  height: 200px;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.nav__ul__menu {
  font-size: 1.3rem;
  padding: 0 2rem;
}

.nav__ul__search {
  font-size: 1.3rem;
  padding: 0 2rem;
}

.nav__ul__search input {
  margin-right: 1rem;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.nav__ul__search i {
  opacity: 0.7;
}

section {
  width: 100%;
  height: 500px;
}

.sec1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.sec1__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.sec1__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec1__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec1__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec1__img {
  padding-left: 2rem;
}

.sec1__img img {
  width: 500px;
  height: 500px;
}

.higherSection {
  width: 100%;
  height: 600px;
}

.sec2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7rem;
}

.sec2__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 6rem;
  margin-left: 1rem;
}

.sec2__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec2__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec2__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec2__img {
}

.sec2__img img {
  width: 500px;
  height: 500px;
}

.sec3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.sec3__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.sec3__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec3__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec3__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec3__img {
  padding-left: 2rem;
}

.sec3__img img {
  width: 500px;
  height: 500px;
}

.sec4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7rem;
}

.sec4__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 4rem;
  margin-left: 3rem;
}

.sec4__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec4__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec4__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec4__img {
  padding-right: 2rem;
}

.sec4__img img {
  width: 400px;
  height: 400px;
}

.topBtn {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.topBtn__i {
  font-size: 3rem;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 3rem;
}

.footerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer li {
  font-size: 0.8rem;
  color: #a59c96;
  padding: 0 2rem;
}

@media only screen and (max-width: 1050px) {
  .nav {
    justify-content: space-between;
  }
  .nav__ul__menu {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .nav__ul__search {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 850px) {
  header {
    height: 250px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
