body {
  background-color: #fff;
  padding-top: 120px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #4b4c50;
}

a:visited {
  text-decoration: none;
  color: #4b4c50;
}

a:active {
  text-decoration: none;
  color: #4b4c50;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #4b4c50;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background-color: #fff;
}

.logo {
  background-image: url("../image/HatchfulExport-All/pinterest_profile_image-removebg-preview (2).png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.nav-ul {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-around;
  width: calc(100% - 150px);
}

.nav-item {
  margin: 0 0.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1rem;
}

.explain-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.explain-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}

.explain-text {
  font-size: 0.8rem;
  color: #707070;
  margin-bottom: 1rem;
}

.explain-btn {
  background-color: #762be8;
  color: #fff;
  padding: 1em;
  font-size: 0.8rem;
  width: 120px;
  border-radius: 10px;
  outline: none;
}

.explain-img {
}

.footer {
  text-align: center;
  padding: 1rem;
}
.footer-ul {
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 0 1em;
  font-size: 0.8rem;
  opacity: 0.6;
}

.topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 850px) {
  .content-container {
    flex-direction: row;
  }
  .explain-img {
    width: 360px;
    height: 300px;
  }
  .explain-b {
    padding-right: 4rem;
  }
  .explain-c {
    padding-right: 3rem;
  }
}

@media (min-width: 1150px) {
  .explain-img {
    width: 470px;
    height: 400px;
  }
}
