section {
  width: 100%;
}

.cardListContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.cardListContent {
  width: 23.11111%;
  margin: 1rem 0.8rem;
  cursor: pointer;
  height: 300px;
}

.cardListContent figure {
  height: 220px;
  background-color: #afb0af;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.cardListContent img {
  height: 220px;
  margin: 0;
}

.cardListText {
  padding: 0.8rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardListTitle {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardListStatus {
  color: red;
  background-color: #f1f3f5;
  padding: 0.6rem 1.2rem;
  border-radius: 13px;
}

.cardTagContainer span {
  margin-right: 0.5rem;
  color: #3a68f9;
}

footer {
  position: absolute !important;
  left: 50% !important;
  bottom: 5% !important;
  transform: translateX(-50%) !important;
}
