@import url("./footer.css");
@import url("./nav.css");

body {
  color: #000;
  background-color: #fff;
  padding-top: 70px;
}

a {
  cursor: pointer;
}

.license {
  display: none;
}

section {
  width: 100%;
  height: 500px;
}

.sec1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.sec1__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.sec1__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec1__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec1__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec1__img {
  padding-left: 2rem;
}

.sec1__img img {
  width: 500px;
  height: 500px;
}

.higherSection {
  width: 100%;
  height: 600px;
}

.sec2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7rem;
}

.sec2__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 6rem;
  margin-left: 1rem;
}

.sec2__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec2__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec2__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec2__img {
}

.sec2__img img {
  width: 500px;
  height: 500px;
}

.sec3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.sec3__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.sec3__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec3__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec3__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec3__img {
  padding-left: 2rem;
}

.sec3__img img {
  width: 500px;
  height: 500px;
}

.sec4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7rem;
}

.sec4__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 4rem;
  margin-left: 3rem;
}

.sec4__content__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec4__content__describ {
  font-size: 0.9rem;
  color: #9b9b9b;
  margin-bottom: 2rem;
}

.sec4__content__btn {
  width: 135px;
  height: 35;
  background-color: #762be8;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.sec4__img {
  padding-right: 2rem;
}

.sec4__img img {
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 1050px) {
  body {
    padding-top: 170px;
  }
  section {
    height: 800px;
  }
  .higherSection {
    height: 800px;
  }
  .sec1 {
    flex-direction: column;
    padding: 0;
  }
  .sec1__content {
    padding: 0;
  }
  .sec2 {
    flex-direction: column;
    padding: 0;
  }
  .sec2__content {
    padding: 0;
  }
  .sec3 {
    flex-direction: column;
    padding: 0;
  }
  .sec3__content {
    padding: 0;
  }
  .sec4 {
    flex-direction: column;
    padding: 0;
  }
  .sec4__content {
    padding: 0;
  }
}

@media only screen and (max-width: 850px) {
  body {
    padding-top: 280px;
  }
  header {
    height: 250px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    padding-top: 380px;
  }
  section {
    height: 400px;
  }
  section:nth-child(4) {
    height: 600px;
  }
  .higherSection {
    height: 700px;
  }
  .sec1__content__title {
    font-size: 1.5rem;
  }
  .sec1__content__describ {
    font-size: 0.7rem;
  }
  .sec1__img img {
    width: 350px;
    height: 350px;
  }
  .sec1__img {
    padding: 0;
  }
  .sec2__content__title {
    font-size: 1.5rem;
  }
  .sec2__content__describ {
    font-size: 0.7rem;
  }
  .sec2__img img {
    width: 350px;
    height: 350px;
  }
  .sec3__content__title {
    font-size: 1.5rem;
  }
  .sec3__content__describ {
    font-size: 0.7rem;
  }
  .sec3__img {
    padding: 0;
  }
  .sec3__img img {
    width: 350px;
    height: 350px;
  }
  .sec4__content {
    margin: 0;
  }
  .sec4__content__title {
    font-size: 1.5rem;
  }
  .sec4__content__describ {
    font-size: 0.7rem;
  }
  .sec4__img {
    padding: 0;
  }
  .sec4__img img {
    width: 300px;
    height: 300px;
  }
}
