header {
  width: 100%;
  height: 130px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__logo img {
  height: 200px;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.nav__ul__menu {
  font-size: 1.3rem;
  padding: 0 2rem;
}

.nav__ul__search {
  font-size: 1.3rem;
  padding: 0 2rem;
}

.nav__ul__search input {
  margin-right: 1rem;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.nav__ul__search i {
  opacity: 0.7;
}

.mobileNav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: #aea1ea;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1050px) {
  .nav {
    justify-content: space-between;
  }
  .nav__ul__menu {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .nav__ul__search {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 645px) {
  .nav__ul {
    width: 100%;
    height: 20%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(242, 223, 235, 0.5);
    transition: 0.4s;
  }
  .nav__ul li {
    transition: 0.2s;
  }
  .nav__ul__search {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
